/*Header styling*/
.banner {
    background-image: url('http://www.placecage.com/1199/250');
}

.corner-img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    top: 25px;
    left: 25px;
}

.header-title {
    display: inline-block;
    text-align: right;
    width: 35%;
}

.top-page-nav ul{
    text-align: right;
}

.top-page-nav li {
    display: inline;
    margin: 10px;
}

/*Main styling*/

.blog {
    border-color: 2px solid #000000;
    float: left;
    width: 60%;
}

.blog img {
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
}
.author-name, .publish-date {
    display: inline;
}
.sidebar {
    float: left;
    width: 40%;
}

.sidebar-profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    left: 50%;

}

.sidebar-author-name, .sidebar-author-tag {
    text-align: center;
}

.emphasis {
    border-left: 5px solid #000000;
    padding: 10px;
    padding-left: 40px;
}

.blog > a{
    float: right;
    margin: 10px;
    background-color: #3b5998;
    color: #ffffff;
}

.ad-info {
    float: right;
}

.sidebar > .ad-info > a {
    display: block;
    align-text: right;
}

.blog-info {
    clear: both;
}
/*Footer styling*/

body > footer {
    width: 750px;
    margin: 0 auto;
    clear:both;
    text-align: center;
}

.footer-legal {
    background-color: #CCCCFF;
}

.footer-nav {
    display: inline;
}

.footer-nav li {
    display: inline;
}

footer img {
    display: block;
    float: right;
}

.footer-legal {
    clear: both;
}

.footer-disclaimer {
    display: inline;;
    text-align: left;
}
